[Unit]
Description=hyprsunset night light
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprsunset
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
