[Unit]
Description=Launch Telegram on weekdays at 8:45 AM

[Timer]
OnCalendar=Mon..Fri *-*-* 08:45:00
Persistent=true

[Install]
WantedBy=timers.target
